.page.theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --text-color: #353430;
  --sub-color: #353430;
  --button-color: #353430;
  --accent-color: #ff8dcb;
  --hover-color: rgba(50, 49, 45, 0.4);
  --decor-display: none;
}

@media (375px <= width <= 768px) {
  .theme_light {
    --title-shadow: #ff8dcb;
  }
}

.header__theme-menu-button_type_light:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --text-color: #353430;
    --sub-color: #353430;
    --button-color: #353430;
    --accent-color: #ff8dcb;
    --hover-color: rgba(50, 49, 45, 0.4);
    --decor-display: none;
    }
}
